@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621913503888') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e621";
}

.icon-guanji:before {
  content: "\e654";
}

.icon-yonghu:before {
  content: "\e60a";
}

.icon-shezhi:before {
  content: "\e635";
}

.icon-shuaxin:before {
  content: "\e616";
}

.icon-fangwen:before {
  content: "\e70f";
}

