body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

canvas.move {
    cursor: move;
}

div.move {
    opacity: 0;
}

#brush {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 1000000px;
    border: solid 1px #999999;
    background-color: rgba(255, 255, 255, 0.4);
}

.left-menu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 15px 15px 0;
    width: 150px;
    border: solid 1px #ffffff;
    height: auto;
    min-height: 300px;
    backdrop-filter: blur(5px);
    top: 80px;
    padding: 15px;
    box-sizing: border-box;
}

.left-menu .top-select-color {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: flex-start;
}

.left-menu .top-select-color .color-box {
    width: 28px;
    height: 28px;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    background-color: #ffffff;
    box-sizing: border-box;
}

.left-menu .top-select-color .color-box:nth-child(4n) {
    margin-right: 0;
}

.left-menu .top-select-color .color-box.select {
    border: solid 3px #0075ff;
}

.left-menu .brush-size {
    width: calc(100% - 16px);
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    height: 16px;
    position: relative;
}

.left-menu .brush-size::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    top: 3px;
    border-radius: 8px;
    background-color: #D6D6D6;
    border: solid 1px #ffffff;
}

.left-menu .brush-size .slider {
    width: 16px;
    cursor: pointer;
    height: 16px;
    background-color: #0075ff;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    pointer-events: none;
    left: 0;
    transform: translateX(-8px) translateY(-50%);
}

.left-menu .brush-size:hover .slider::after {
    transform: translateY(-10px) translateX(-50%) rotateZ(45deg);
    opacity: 1;
    pointer-events: auto;
}

.left-menu .brush-size:hover .slider::before {
    transform: translateY(-10px) translateX(-50%);
    opacity: 1;
    pointer-events: auto;
}

.left-menu .brush-size .slider::after {
    transition: 300ms;
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #0075ff;
    top: -100%;
    left: 50%;
    z-index: -1;
    transform: translateY(0px) translateX(-50%) rotateZ(45deg);
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
}

.left-menu .brush-size .slider::before {
    transition: 300ms;
    content: attr(data-value);
    width: 25px;
    height: 20px;
    top: -150%;
    font-size: 12px;
    text-align: center;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    opacity: 0;
    pointer-events: none;
    color: #ffffff;
    border-radius: 4px;
    display: block;
    position: absolute;
    background-color: #0075ff;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);*/
}

.left-menu .input-color-value {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-menu .input-color-value input {
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    font-family: 微软雅黑;
    width: 80px;
    border: none;
    height: 24px;
    background-color: transparent;
    outline: none;
    border-bottom: solid 1px #999999;
    text-transform: uppercase
}

.left-menu .input-color-value input::placeholder {
    font-family: 微软雅黑;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase
}

.left-menu .input-color-value .color-view {
    width: 28px;
    height: 28px;
}

.online {
    width: 150px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.online .total-num {
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #ffffff;
    text-align: center;
    backdrop-filter: blur(5px);
    margin: 0;
    border-radius: 0 0 15px 0;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    color: #333333;
    cursor: pointer;
}

.online:hover .online-list {
    transform: translateY(0%);
}

.online .online-list {
    width: 180px;
    height: auto;
    min-height: 50px;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    border-radius: 0 0 15px 15px;
    border: solid 1px #ffffff;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 300ms 100ms;
}

.online .online-list .user-name {
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px 0;
    box-sizing: border-box;
    height: 40px;
    margin: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color 300ms, box-shadow 300ms;
}

.online .online-list .user-name:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.05);
}

.omMsg {
    position: absolute;
    width: 400px;
    height: 260px;
    background-color: red;
    left: 0;
    bottom: 0;
    border-radius: 0 15px 0 0;
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 10px;
}

.omMsg .top-msg-list {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

.omMsg .top-msg-list::-webkit-scrollbar {
    width: 0 !important
}
.omMsg .top-msg-list .msg-text{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*background-color: #ffaa00;*/
    flex-direction: column;
}
.omMsg .top-msg-list .msg-text .user-name{
    width: 100%;
    margin: 0;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
}
.omMsg .top-msg-list .msg-text.your-self .user-name{
    text-align: right;
}
.omMsg .top-msg-list .msg-text.your-self .content{
    width: auto;
    align-self: flex-end;
    height: auto;
    word-break: break-all;
    margin-top: 8px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 0;
}
.omMsg .top-msg-list .msg-text .content{
    width: 100%;
    height: auto;
    word-break: break-all;
    margin-top: 8px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 0;
}
.omMsg .bottom-msg-input{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.omMsg .bottom-msg-input input{
    width: 290px;
    outline: none;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    background-color: transparent;
    text-indent: 8px;
    color: #555555;
    border-bottom: solid 1px #ffffff;
}
.omMsg .bottom-msg-input button{
    width: 78px;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
    color: #777777;
    font-weight: bold;
    border: none;
}
.omMsg .bottom-msg-input button:active{
    line-height: 40px;
}

.right-zoom-indicator{
    width: 16px;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 16px;
    background-color: red;
    border: solid 1px #ffffff;
    background-color: ;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}

.poe{
    pointer-events: none;
}