.room-list {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    background-image: url(./bgi.jpg);
}

.room-list .right-ligin-status {
    top: 0;
    right: 40px;
    width: 120px;
    height: 40px;
    position: fixed;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
}

.room-list .right-ligin-status .show-name {
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #333333;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.room-list .taskbar {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 20;
    position: absolute;
}

.room-list .taskbar .task-list {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    display: flex;
    padding-left: 52px;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
}

.room-list .taskbar .task-list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(6px);
    background-color: rgba(240, 240, 240, 0.8);
}

.room-list .taskbar .menu-btn {
    top: 0;
    left: 0;
    z-index: 20;
    width: 48px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*background-color: #ffffff;*/
}

.room-list .taskbar .menu-btn:hover {
    background-color: rgba(230, 230, 230, 1);
}

.room-list .taskbar .menu-btn .menu-icon {
    z-index: 10;
    width: 18px;
    display: block;
    min-height: 18px;
    margin-top: 12px;
    position: relative;
    border: solid 2px;
    pointer-events: none;
    border-color: #f2f2f2;
    background-color: #555555;
    transition: 300ms, border-color 0;
    transform: rotateX(45deg) rotate3d(0, 0, 1, 45deg);
}

.room-list .taskbar .menu-btn.act {
    background-color: rgba(230, 230, 230, 1);
}

.room-list .taskbar .menu-btn.act .menu-icon {
    border-color: #e6e6e6;
}

.room-list .taskbar .menu-btn.act .menu-icon::after {
    top: -12px;
    left: -12px;
    transform: rotate3d(0, 0, 1, 180deg);
}

.room-list .taskbar .menu-btn.act .menu-icon::before {
    top: -7.5px;
    left: -7.5px;
    transform: rotate3d(0, 0, 1, 90deg);
}

.room-list .taskbar .menu-btn:hover .menu-icon {
    border-color: #e6e6e6;
}

.room-list .taskbar .menu-btn:hover .menu-icon::after {
    /*top: -13px;*/
    /*left: -13px;*/
    /*transform: rotate3d(0, 0, 1, 180deg);*/
}

.room-list .taskbar .menu-btn .menu-icon::after {
    top: -10px;
    left: -10px;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border: solid 2px;
    position: absolute;
    border-color: inherit;
    background-color: inherit;
    background-clip: padding-box;
    transition: left 300ms, top 300ms, transform 300ms;
}

.room-list .taskbar .menu-btn:hover .menu-icon::before {
    /*top: -7.5px;*/
    /*left: -7.5px;*/
    /*transform: rotate3d(0, 0, 1, 90deg);*/
}

.room-list .taskbar .menu-btn .menu-icon::before {
    top: -6px;
    left: -6px;
    z-index: 0;
    width: 100%;
    content: "";
    height: 100%;
    display: block;
    border: solid 2px;
    position: absolute;
    border-color: inherit;
    background-color: inherit;
    background-clip: padding-box;
    transition: left 300ms, top 300ms, transform 300ms;
}

.room-list .taskbar .menu-btn .start-menu {
    top: 0;
    left: 0;
    width: 274px;
    height: 265px;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    transform: translateY(-100%);
}

.room-list .taskbar .menu-btn .start-menu .content {
    bottom: -80px;
    left: 0;
    opacity: 0;
    width: 254px;
    max-height: 245px;
    transition: 200ms;
    position: absolute;
    border-radius: 0 6px 0 0;
    overflow: hidden;
    pointer-events: none;
    backdrop-filter: blur(12px);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(245, 245, 245, 0.7);
    box-shadow: 10px -10px 20px -10px rgba(0, 0, 0, 0.05);
}

/*.room-list .taskbar .menu-btn.act .start-menu {
    pointer-events: auto;
}*/
.room-list .taskbar .menu-btn.act .start-menu .content {
    bottom: 0px;
    opacity: 1;
    pointer-events: auto;
}

.room-list .taskbar .menu-btn .start-menu .content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.room-list .taskbar .menu-btn .start-menu .content ul li {
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-list .taskbar .menu-btn .start-menu .content ul li:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.room-list .taskbar .menu-btn .start-menu .content ul li .left-icon {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-list .taskbar .menu-btn .start-menu .content ul li .left-icon::before {
    color: #333333;
    font-size: 18px;
}

.room-list .taskbar .menu-btn .start-menu .content ul li .meu-text {
    width: 206px;
    font-size: 15px;
    color: #333333;
    user-select: none;
    pointer-events: none;
}

.room-list .taskbar .task-list .program {
    width: 48px;
    height: 100%;
    margin: 0 1px;
    display: flex;
    /*user-select: none;*/
    /*transition: 200ms;*/
    position: relative;
    justify-content: center;
}

.room-list .taskbar .task-list .program.act {}

.room-list .taskbar .task-list .program .task-show {
    width: 40px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border-bottom: solid 2px #5c5956;
    position: relative;
    z-index: 30;
    transition: 200ms;
}

.room-list .taskbar .task-list .program .task-show.create {
    animation: show 300ms;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

.room-list .taskbar .task-list .program .task-show .icon {
    user-select: none;
    pointer-events: none;
}

.room-list .taskbar .task-list .program .task-show:hover {
    width: 48px;
    background-color: rgba(249, 249, 249, 0.4);
}

.room-list .taskbar .task-list .program .task-show.act {
    width: 48px;
    background-color: rgba(249, 249, 249, 0.6);
}

.room-list .taskbar .task-list .program .task-show.act:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


/*文件夹*/


.room-list .taskbar .task-list .program .folder-list {
    width: 700px;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    /*background-color: #ffffff;*/
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: -400px;
    left: 0;
    transition: 300ms;
    opacity: 0;
    /*pointer-events: none;*/
    transform-origin: bottom left;
    transform: scale(0.1) translateX(0) translateY(0);
}

.room-list .taskbar .task-list .program.act .folder-list.act {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.room-list .taskbar .task-list .program .folder-list.act {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.room-list .taskbar .task-list .program .folder-list .top-bar {
    width: 100%;
    padding: 6px;
    height: 32px;
    display: flex;
    font-size: 14px;
    user-select: none;
    line-height: 20px;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    border-bottom: solid 1px #E7E8E8;
}

.room-list .taskbar .task-list .program .folder-list .top-bar .left-title {
    width: auto;
    height: 100%;
    color: #666666;
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu {
    width: 60px;
    height: 100%;
    display: flex;
    min-width: 60px;
    margin-left: 40px;
    align-items: center;
    justify-content: space-between;
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu button {
    width: 14px;
    border: none;
    height: 14px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu button:hover:before {
    background-color: rgba(0, 0, 0, 0.1);
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu .min {
    background-color: #28c841;
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu .max {
    background-color: #fbba2d;
}

.room-list .taskbar .task-list .program .folder-list .top-bar .right-menu .close {
    background-color: #ff5f58;
}

.room-list .taskbar .task-list .program .folder-list .search-bar {
    width: 100%;
    height: 40px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-list .taskbar .task-list .program .folder-list .search-bar .search-input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-indent: 6px;
    border: solid 1px #E7E8E8;
}

.room-list .taskbar .task-list .program .folder-list .search-bar .refresh {
    width: 28px;
    height: 28px;
    color: #666666;
    min-width: 28px;
    cursor: pointer;
    margin-left: 6px;
    line-height: 25px;
    border: solid 1px #E7E8E8;
    background-color: transparent;
}

.room-list .taskbar .task-list .program .folder-list .content {
    width: 100%;
    /*padding: 6px;*/
    overflow: auto;
    height: calc(100% - 32px);
}

.room-list .taskbar .task-list .program .folder-list .content.img {
    font-size: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.15);
    border: solid 1px rgba(255, 255, 255, 0.8);
    border-top: none;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.room-list .taskbar .task-list .program .folder-list .content.iframe {
    overflow: hidden;
}

.room-list .taskbar .task-list .program .folder-list .content.iframe iframe {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    margin: 0;
    padding: 0;
}

.room-list .taskbar .task-list .program .folder-list .content.img img {
    max-width: 100%;
    max-height: 100%;
}

.room-list .taskbar .task-list .program .folder-list .content.text {
    background-color: #ffffff;
    padding: 6px;
    pointer-events: auto !important;
    user-select: auto !important;
}

.room-list .taskbar .task-list .program .folder-list .content.text * {
    pointer-events: auto !important;
    user-select: auto !important;
}

.room-list .taskbar .task-list .program .folder-list .content.folder{
    background-color: #ffffff;
}

.room-list .desktop {
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}

.room-list .desktop .screen-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 78px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.room-list .desktop .screen-icon .content {
    user-select: none;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    border-radius: 2px;
    padding-bottom: 6px;
}

.room-list .desktop .screen-icon .content:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
}

.room-list .desktop .screen-icon.act .content {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
}

.room-list .desktop .screen-icon .content .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
}

.room-list .desktop .screen-icon .content .icon-title {
    padding: 0 3px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), 1px 1px 2px rgba(0, 0, 0, 1);
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}