.room-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-list .right-ligin-status{
    width: 120px;
    height: 40px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 40px;
    border-radius: 0 0 6px 6px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.room-list .right-ligin-status .show-name{
    padding: 0 16px;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    color: #333333;
    z-index: 2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.room-list .folder-list{
    width: 1200px;
    height: 700px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
}

.room-list .folder-list .top-bar{
    width: 100%;
    height: 32px;
    border-bottom: solid 1px #dadbdc;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.room-list .folder-list .top-bar .left-title{
    width: auto;
    height: 100%;
}
.room-list .folder-list .top-bar .right-menu{
    min-width: 80px;
    margin-left: 40px;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.room-list .folder-list .top-bar .right-menu button{
    width: 16px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    height: 16px;
}
.room-list .folder-list.act .top-bar .right-menu .min{
    background-color: #28c841;
}
.room-list .folder-list.act .top-bar .right-menu .max{
    background-color: #fbba2d;
}
.room-list .folder-list.act .top-bar .right-menu .close{
    background-color: #ff5f58;
}