body {
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

p {
    margin: 0;
}

.of-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.login-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 300ms;
    background-color: rgba(0, 0, 0, 0.05);
}

.login-view.show {
    opacity: 1;
}

.login-view .center-box {
    pointer-events: none;
    width: 360px;
    min-height: 390px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: 300ms;
    opacity: 0;
    transform: translateY(-20%);
    padding: 20px 30px 70px;
    margin: 0 30px;
    opacity: 0;
}

.login-view.show .center-box {
    transform: translateY(0%);
}
.login-view.show.log{
    padding-left: 420px;
}
.login-view.show.log .log{
    pointer-events: auto;
    opacity: 1;
}
.login-view.show.reg{
    padding-right: 420px;
}
.login-view.show.reg .reg{
    pointer-events: auto;
    opacity: 1;
}
.login-view .center-box .top-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 20px;
    color: #666666;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.login-view .center-box .login-info{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin-bottom: 40px;
}
.login-view .center-box input{
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: solid 1px #efefef;
    border-radius: 4px;
    text-indent: 8px;
    transition: 300ms;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.login-view .center-box input::placeholder{
    color: #B2B2B2;
}
.login-view .center-box input:focus{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.login-view .center-box .list-box{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-view .center-box .list-box button{
    width: 140px;
    height: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: relative;
}
.login-view .center-box .list-box button.reg{
    background-color: transparent;
    border: solid 1px #eaeaea;
    color: #666666;
}
.login-view .center-box .list-box button.log{
    background-color: #2db7f5;
    color: #ffffff;
    box-shadow: 0 2px 8px #2DB7F566;
}
.login-view .center-box .list-box button::after{
    content: "";
    transition: 200ms;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
}
.login-view .center-box .list-box button:active:after{
    opacity: 1;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.025);
}


.login-view .center-box.check{
    transform:translateY(0%) translateX(256px);
}